#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  text-align: left;
  padding-left: 20px;
}
.item {
  padding: 5px 0px;
}

.pointer {
  cursor: pointer;
}
